* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    display: flex;
    align-items: center;
    padding: 20px 10vw 20px;
    color: #fff;
    justify-content: space-between;
}

.header--logo-img {
    width: 3rem;
    margin-right: 1rem;
}

.header--logo {
    display: flex;
    align-items: center;
}

main {
    padding: 0 20px;
}

.meme-form {
    margin-top: 10vh;
}

.meme-form--top-message,
.meme-form--bottom-message {
    padding: 10px;
    width: 45%;
    border-radius: 5px;
    border: 1px solid rgb(206, 204, 204);
}

.meme-form--top-message {
    margin-right: 10%;
}

.meme-form--get-meme-btn {
    display: block;
    width: 100%;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    font-size: 1.2rem;
}

.meme-container {
    border: 1px solid black;
    margin-top: 40px;
    width: 100%;
    height: 50vh;
    position: relative;
}

.meme-container--top-text,
.meme-container--bottom-text {
    position: absolute;
    color: white;
    text-transform: uppercase;
}

.meme-container--top-text {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.meme-container--bottom-text {
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.meme-container--image {
    width: 100%;
}